.DS_Store

# Django
*.log
*.json
.env
db.sqlite3
db.sqlite3-journal
wikis/templates/wikis/birdMap.html
wikis/templates/wikis/secret.html
wikis/static/wikis/chess.js
wikis/static/wikis/chessboard-1.0.0.css
wikis/static/wikis/chessboard-1.0.0.js

# photos and pdfs
*.pdf
*.svg
*.png
*.JPG
*.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class