{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Boostrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

  <!-- Bootstrap icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">

  <!-- my css, after the others to override -->
  <link rel="stylesheet" href="{% static 'wikis/main.css' %}">

  {% if title %}
		<title>Ben Clingenpeel - {{ title }}</title>
	{% else %}
		<title>Ben Clingenpeel</title>
	{% endif %}
</head>

<body>

	<!-- nav bar -->
	<header class="site-header">
	  <nav class="navbar navbar-expand-md navbar-dark bg-green">
	    <div class="container">
	      <a class="navbar-brand mr-4" href="{% url 'homepage' %}">Ben Clingenpeel</a>
	      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle">
	      <span class="navbar-toggler-icon"></span>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarToggle">
		      <div class="navbar-nav me-auto">
		      	{% if user.is_authenticated %}
			      	<a class="nav-item nav-link" href="#">Secret</a>
			      	{% if user.username == 'benclingenpeel' %}
			      		<a class="nav-item nav-link" href="#">New Post</a> 
			      	{% endif %}
			      	<a class="nav-item nav-link" href="#">Log Out</a>
		        {% endif %}
		      </div>
	        <ul class="navbar-nav ms-auto">
	        	<li class="nav-item">
	          	<a class="nav-link" href="{% url 'about' %}">About</a>
	          </li>
	          <li class="nav-item dropdown">
	          	<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button">Math</a>
		          <ul class="dropdown-menu">
		          	<li><a class="dropdown-item" href="#">Animations</a></li>
		          	<li><a class="dropdown-item" href="#">Posts</a></li>
		          	{% if user.username == 'benclingenpeel' %}
		          		<li><a class="dropdown-item" href="#">Problems and Solutions</a></li>
		          	{% endif %}
		          	<li><a class="dropdown-item" href="#">Research</a></li>
		          	<li><a class="dropdown-item" href="{% url 'wiki' %}">Math Wiki</a></li>
		          </ul>
	          </li>
	          <li class="nav-item dropdown">
	          	<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" role="button">Personal</a>
	          	<ul class="dropdown-menu">
	          		<li><a class="dropdown-item" href="{% url 'birds' %}">Birds</a></li>
	          		<li><a class="dropdown-item" href="https://github.com/bncling">GitHub</a></li>
	          		{% if not user.is_authenticated %}
	          			<li><a class="dropdown-item" href="#">Log In</a></li>
	          		{% endif %}
	          	</ul>
	          </li>
	          <li class="nav-item">
	          	<a class="nav-link" href="{% static 'wikis/Ben_Clingenpeel_CV.pdf' %}">CV</a>
	          </li>
	        </ul>
	      </div>
	     </div>
		</nav>
	</header>
	
	{% block content %}{% endblock %}

</body>

	<!-- Bootstrap JS bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

  <!-- KaTeX stuff -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css" integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc" crossorigin="anonymous">
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.js" integrity="sha384-YNHdsYkH6gMx9y3mRkmcJ2mFUjTd0qNQQvY9VYZgQd7DcN7env35GzlmFaZ23JGp" crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/contrib/auto-render.min.js" integrity="sha384-vZTG03m+2yp6N6BNi5iM4rW4oIwk5DfcNdFfxkk9ZWpDriOkXX8voJBFrAO7MpVl" crossorigin="anonymous"></script>
	<script>
	    document.addEventListener("DOMContentLoaded", function() {
	        renderMathInElement(document.body, {
	          // customised options
	          // • auto-render specific keys, e.g.:
	          delimiters: [
	              {left: '$$', right: '$$', display: true},
	              {left: '$', right: '$', display: false},
	              {left: '\\(', right: '\\)', display: false},
	              {left: '\\[', right: '\\]', display: true}
	          ],
	          macros: {
	            "\\Ts": "\\mathcal{T}_{\\text{std}}",
	            "\\R":"\\mathbb{R}",
	            "\\N":"\\mathbb{N}",
	            "\\Z":"\\mathbb{Z}",
	            "\\Q":"\\mathbb{Q}",
	            "\\F":"\\mathbb{F}",
	            "\\C":"\\mathbb{C}",
	            "\\Even":"\\mathbb{E}",
	            "\\Odd":"\\mathbb{O}",
	            "\\Poly":"\\mathcal{P}",
	            "\\st":"\\text{ s.t. }",
	            "\\T":"\\mathcal{T}",
	            "\\Ts":"\\mathcal{T}_\\text{std}",
	            "\\Rs":"\\mathbb{R}_\\text{std}",
	            "\\inv":"^{-1}",
	            "\\dg":"\\^{circ}",
	            "\\B":"\\mathscr{B}",
	            "\\BLL":"\\mathcal{B}_\\text{LL}",
	            "\\RLL":"\\mathbb{R}_\\text{LL}",
	            "\\TLL":"\\mathcal{T}_\\text{LL}",
	            "\\Rh":"\\mathbb{R}_\\text{har}",
	            "\\Hbub":"\\mathbb{H}_\\text{bub}",
	            "\\Zar":"\\mathbb{Z}_\\text{arith}",
	            "\\lcm":"\\text{lcm}",
	            "\\Sub":"\\mathscr{S}",
	            "\\Cl":"\\text{Cl}",
	            "\\Span":"\\text{span}",
	            "\\Lin":"\\mathcal{L}",
	            "\\nl":"\\text{null }",
	            "\\range":"\\text{range }",
	            "\\M":"\\mathcal{M}",
	            "\\Sym":"\\text{Sym}",
	            "\\Aut":"\\text{Aut}",
	            "\\im":"\\text{im}",
	            "\\inn":"\\text{Inn}",
	            "\\id":"\\text{id}",
	            "\\stirlingI":"\\genfrac{[}{]}{0pt}{}{#1}{#2}",
	            "\\stirlingII":"\\genfrac{\\{}{\\}}{0pt}{}{#1}{#2}",
	            "\\Cov":"\\mathscr{C}",
	            "\\im":"\\text{im}",
	            "\\pring":"{#1}[{#2}]",
	            "\\V":"\\mathbf{V}",
	            "\\I":"\\mathbf{I}",
	            "\\Tor":"\\mathbb{T}",
	            "\\Sp":"\\mathbb{S}",
	            "\\RP":"\\mathbb{R}\\text{P}"
	          },
	          // • rendering keys, e.g.:
	          throwOnError : false
	        });
	    });
	</script>

	<!-- styling for the KaTeX -->
	<style>
	  .katex-display {
	    overflow-x: auto;
	    overflow-y: hidden;
	  }
	  .katex {
	      font: normal 1.15em KaTeX_Main,Times New Roman,serif;
	  }
	</style> 

</html>