{% extends "wikis/base.html" %}
{% load static %}
{% block content %}
	<section class="mt-5">
		<div class="container">
			<div class="d-sm-flex align-items-center justify-content-between">
				<div class="p-3">
					<h1>Welcome to my website!</h1>
					<p>You can find my CV here, a link to my GitHub (which includes code for this website), some of my writing, and lots of other miscellaneous things. Mainly this is a place where I've been putting my math notes, which I've been writing in the form of short wiki-style entries. You can find those here in the 'Math Wiki' section.</p>
					<button class="btn btn-green" href="#">Show me a random math wiki!</button>
				</div>
				<div class="p-4"></div>
				<img class="img-thumbnail w-50 d-none d-md-block p-2" src="{% static 'wikis/me_photo.png' %}">
			</div>
		</div>
	</section>
{% endblock content %}