{% extends 'wikis/base.html' %}
{% load static %}
{% block content %}
	<section class="mt-5">
		<div class="container">
			{% for book in textbooks %}
				<div class="row p-2">
					<div class="col-1"></div>
					<div class="col-7">
						<div class="card border-white p-3" style="height: 150px;">
							<h5><a href="{% static book.file_link %}">{{ book.title }}</a></h5>
							<p>by {{ book.author }}</p>
						</div>
					</div>
					<div class="col-2">
						<img class="img-thumbnail" src="{% static book.image_link %}" style="max-height: 150px; height: auto; width: auto;">
					</div>
					<div class="col-2"></div>
				</div>
			{% endfor %}
		</div>
	</section>

	<section class="mt-5"></section>
{% endblock content %}