{% extends 'wikis/base.html' %}
{% load markdownify %}
{% block content %}

	<section class="mt-5">
		<div class="container">
			<div class="row px-5">
				<h1><b>Math Wiki</b></h1>
				<p>This is a collection of several brief explanations of various math concepts / objects I’ve come across, organized into one nice central location for my own use. The collection is currently organized to have the latest updated pages at the top, but I might be looking to change that at some point.</p>
			</div>
		</div>
	</section>

	<section class="mt-5">
		<div class="container">
			{% for wiki in wikis %}
				<div class="row p-2">
					<div class="col-1"></div>
					<div class="col-10">
						<div class="card border-white px-4 pt-4 pb-2">
							<h3 class="px-2 pt-1"><b>{{ wiki.title }}</b></h3>
							<small class="text-secondary p-2">{{ wiki.content|markdownify }}{{ wiki.date_posted|date:"F j, Y" }}</small>
						</div>
					</div>
					<div class="col-1"></div>
				</div>
			{% endfor %}
		</div>
	</section>

	<section class="mt-5"></section>

{% endblock content %}