{% extends 'wikis/base.html' %}
{% load static %}
{% load detail_filters %}
{% load markdownify %}
{% block content %}
	<body style="background-color: #ffffff;">
		<section class="mt-5">
			<div class="row">
				<div class="col-2"></div>
				<div class="col-8">
					{% if user.username == 'benclingenpeel' %}
						<h2><b>{{ object.title }}</b> <small><a href="{% url 'wiki-update' object.slug %}"><i class="bi bi-arrow-counterclockwise"></i></a><a href="#"><i class="bi bi-trash-fill"></i></a></small></h2>
					{% else %}
						<h2><b>{{ object.title }}</b></h2>
					{% endif %}
					<div>
						{{ object.content|no_tex|wiki_photo_link|markdownify|replace_tex:object.content|safe }}
					</div>
				</div>
				<div class="col-2"></div>
			</div>
		</section>
		<section class="p-4"></section>
	</body>
{% endblock content %}