{% extends 'chess/base.html' %}
{% load static %}
{% block content %}
	<!-- Custom JS for logic -->
	<script type="module" src="{% static 'wikis/guessVar.js' %}"></script>

	<section class="mt-5">
		<div class="container">
			<div class="row gx-5">
				<div class="col-2">
					<button class="btn btn-green mb-2 btn reset-button">Play a new position</button>
					<div class="alert-goes-here"></div>
				</div>
				<div class="col-5">
					<div id="startBoard"></div>
				</div>
				<div class="col-5">
					<div id="finishedBoard"></div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}