{% extends 'chess/base.html' %}
{% load static %}
{% block content %}
	<!-- Custom JS for logic -->
  <script>var playingColor = '{{ color }}'</script>
  <script>var saveURL = "{% url 'save-rep' %}"</script>
  <script type="module" src="{% static 'wikis/repEditing.js' %}"></script>

  <section class="mt-5">
		<div class="container">
			<div class="row gx-5">
				<div class="col-6">
					<div id="testBoard"></div>
				</div>
				<div class="col-4">
					<button class="btn btn-green mb-2 btn-sm delete-from">Delete from position</button>
					<button class="btn btn-green mb-2 btn-sm reset-button"><b><i class="bi bi-arrow-counterclockwise" style="color: var(--main-background);"></i></b></button>
					<form action="{% url 'save-rep' %}" method="POST">
						{% csrf_token %}
						<input hidden id="json-data-here" name="data" value="test"></input>
						<input class="btn btn-green mb-2 btn-sm save-var" type="submit" value="Save changes to repertoire"></input>
					</form>
					<div class="bg-white border">
						<h4 class="mx-3 mt-3"><b>Current variation:</b></h4>
						<div class="pgn-viewer mx-3 mt-2 mb-3"></div>
					</div>
					<div class="bg-white border mt-2">
						<h4 class="mx-3 mt-3"><b>Saved moves: </b></h4>
						<div class="known-moves-here mx-3 mt-2 mb-3"></div>
					</div>
					<div class="bg-white border mt-2">
						<h4 class="mx-3 mt-3"><b>Added moves: </b></h4>
						<div class="added-moves-here mx-3 mt-2 mb-3"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}