{% extends 'chess/base.html' %}
{% load static %}
{% block content %}
	<!-- Custom JS for logic -->
	<script>var playingColor = '{{ color }}'</script>
  <script type="module" src="{% static 'wikis/repTraining.js' %}"></script>

  <section class="mt-5">
		<div class="container">
			<div class="row gx-5">
				<div class="col-6">
					<div id="testBoard"></div>
				</div>
				<div class="col-4">
					<button class="btn btn-green mb-3">Random variations</button>
					<button class="btn btn-green mb-3">Weighted variations</button>
					<div class="bg-white border">
						<h4 class="mx-3 mt-3"><b>Current variation:</b></h4>
						<div class="pgn-viewer mx-3 mt-2 mb-3"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}